@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  --primary: #ffffff;
  --secondary: #171717;
  --lBackground: #fafafa;
  --lText: #666666;
  --border: #0000001a;
  --accent: #25d890;
}

.dark {
  --primary: #000000;
  --secondary: #ededed;
  --lBackground: #171717;
  --lText: #a1a1a1;
  --border: #ffffff36;
  --accent: #24E698;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lBackground: var(--lBackground);
  --color-lText: var(--lText);
  --color-border: var(--border);
  --color-accent: var(--accent);
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toastifyCustomClass {
  font-size: 12px;
  width: auto !important;
  max-width: 500px;
  min-width: 220px;
}

.toastifyCustomClass>div {
  max-width: 250px;
  border-radius: 10px !important;
  min-height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: start;
}

.toastifyCustomClass .Toastify__close-button {
  align-self: center !important;
  align-items: end;
  opacity: 1;
}

.toastifyCustomClass .Toastify__toast-icon {
  width: 18px;
}

html {
  scroll-behavior: smooth;
}

.customScroll {
  overflow: auto;
}

.customScroll::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
  border: 0px solid #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #a5a4a4;
}

.hideScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}


.animteUpDown {
  animation: updown 3s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
    /* moves up 10px */
  }

  100% {
    transform: translateY(0px);
  }
}

.dropdownShadow:hover {
  box-shadow:
    0rem .5rem 1.5rem -.5rem color-mix(in oklab, var(--secondary) 20%, transparent),
    0rem .5rem 1rem -.25rem color-mix(in oklab, var(--secondary) 5%, transparent),
    0rem .1875rem .375rem 0rem color-mix(in oklab, var(--secondary) 5%, transparent),
    0rem .125rem .25rem 0rem color-mix(in oklab, var(--secondary) 5%, transparent),
    0rem .0625rem .125rem 0rem color-mix(in oklab, var(--secondary) 5%, transparent),
    0rem 0rem 0rem .0625rem color-mix(in oklab, var(--secondary) 6%, transparent)
  ;
}